@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: Montserrat;
}

.top-heading {
  background-color: #E1FF8F;
  background-image: url(img/big_star.svg), url(img/Star_right.svg), url(img/Star_right-top.svg), url(img/Star_left_top.svg), url(img/star_left.svg);
  background-position: 856px -334px, 1014px 568px, 948px 538px, 157px 69px, 62px 93px;
  background-repeat: no-repeat;
  height: 603px;
  padding-top: 196px;
}

.top-heading__head {
  width: 768px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.top-heading__text {
  padding-top: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.top-heading__btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 49px;
  /* font-family: inherit; */
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background-color: rgb(32, 32, 39);
  color: white;
  padding: 16px 28px 16px 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
}

.heading__head {
  width: 768px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.heading__text {
  padding-top: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.heading-mobile {
  display: none;
}

.heading {
  background-color: rgb(32, 32, 39);
  width: auto;
  height: 1470px;
  color: white;
  background-image: url(img/Star_about.svg), url(img/Star_big_about.svg), url(img/Star_small_about.svg);
  background-repeat: no-repeat;
  background-position: 18px 824px, 951px 105px, 0px 768px;
  padding-top: 94px;
}

.heading__link {
  text-decoration: none;
  display: inline-block;
}

.heading__link:hover {
  transform: scale(1.1);
}

.product-box {
  background-color: white;
  border-radius: 30px;
  min-width: 378px;
}

.product {
  background-image: url(img/Обложка\ карточки.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.product__head {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.product__text {
  border-radius: 52.58px;
  background-color: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.Game-two__product {
  background-image: url(img/arifmicetion.png);
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;
  padding: 32px 32px 36px 32px;
}

.Game-two {
  margin-top: 11px;
  background-color: white;
  border-radius: 30px;
  max-width: 378px;
}

.Game-two__head {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  width: 314px;
  color: black;
}

.flex-contenier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 59px;
}

.product__game-three {
  background-image: url(img/game-three.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.product__game-four {
  background-image: url(img/game-four.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

.product__head-four {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.product__game-five {
  background-image: url(img/game-five.png);
  max-width: 314px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 455px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
  margin-top: 33px;
}

.product__game-six {
  background-image: url(img/game-six.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

.product__head-mobile {
  display: none;
}

.product__text-mobile {
  display: none;
}

.product__btn-mobile {
  display: none;
}

.product__flex-mobile {
  display: none;
}

@media (max-width: 750px) {
  .top-heading {
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    background-image: url(img/big-star_mobile.svg), url(img/small-star.svg), url(img/small_star_mobile.svg), url(img/Star-top_mobile.svg), url(img/Star-bottom_mobile.svg);
    background-repeat: no-repeat;
    background-position: 227px -90px, 28px 114px, 76px 80px, 320px 734px, 301px 712px;
  }
  .top-heading__head {
    width: 296px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .top-heading__text {
    width: 296px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .top-heading__btn {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
  }
  .heading__head {
    display: none;
  }
  .heading__text {
    display: none;
  }
  .heading-mobile {
    width: 296px;
    height: 15px;
    font-size: 39px;
    font-weight: 700;
    line-height: 16px;
    display: block;
    padding-left: 16px;
    padding-top: 0px;
    letter-spacing: 2px;
  }
  .heading {
    height: 3740px;
  }
  .product-box {
    min-width: 348px;
  }
  .flex-contenier {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
  }
  .product {
    background-image: url(img/mobile-game-one.png);
    background-repeat: no-repeat;
    background-size: 348px;
    height: 285px;
    border-radius: 30px;
    max-height: 530px;
    padding-top: 88px;
  }
  .Game-two__product {
    background-image: url(img/mobile-game-two.png);
    background-size: contain;
  }
  .Game-two {
    max-width: 346px;
    max-height: 530px;
  }
  .product__game-three {
    background-image: url(img/mobile-game-three.png);
    margin-top: 66px;
    background-size: 348px;
  }
  .product__game-four {
    background-image: url(img/mobile-game-four.png);
    background-size: 346px;
    max-width: 283px;
    padding-top: 4px;
    margin-top: 14px;
  }
  .product__game-five {
    background-image: url(img/mobile-game-five.png);
    background-size: 346px;
    max-width: 283px;
    padding-top: 120px;
    margin-top: 21px;
  }
  .product__game-six {
    background-image: url(img/mobile-game-six.png);
    background-size: 346px;
    max-width: 283px;
    margin-top: 9px;
    padding-top: 101px;
  }
  .product__text {
    display: none;
  }
  .product__head {
    display: none;
  }
  .product__head-mobile {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: black;
    width: 285px;
  }
  .product__text-mobile {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 277px;
    color: black;
  }
  .product__btn-mobile {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background-color: rgb(32, 32, 39);
    width: 285px;
    height: 55px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    color: white;
  }
  .product__flex-mobile {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .Game-two__head {
    display: none;
  }
  .Game-two__product {
    background-size: 346px;
    padding-top: 91px;
  }
  .product__game-three {
    padding-top: 127px;
  }
  .product__head-four {
    display: none;
  }
  .heading__link:hover {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */