*{
    margin: 0;
    padding: 0;
}

.center{
    padding-left: calc(50% - 558px);
    padding-right: calc(50% - 600px);
}

body{
    font-family: Montserrat;
}


.top-heading{
    background-color: #E1FF8F;
    background-image: 
    url(img/big_star.svg),
    url(img/Star_right.svg),
    url(img/Star_right-top.svg),
    url(img/Star_left_top.svg),
    url(img/star_left.svg);
    background-position:
   856px -334px, 1014px 568px, 948px 538px, 157px 69px, 62px 93px;
    background-repeat: no-repeat;
    
    
   height: 900px;
   /* width:auto; */
    padding-top: 196px;
    /* display: flex;
    flex-direction: column;
    gap: 24px;
    */
}

.top-heading__head{
   
width: 768px;
font-size: 64px;
font-weight: 700;
line-height: 78px;

    
}

.top-heading__text{
 padding-top: 22px;
font-size: 24px;
font-weight: 400;
line-height: 32px;
}

.top-heading__btn{

margin-top: 49px;   
font-family: inherit;
width: 247px;
height: 66px;
box-sizing: border-box;
border: 1px solid rgb(32, 32, 39);
border-radius: 60px;
background-color: rgb(32, 32, 39);
color: white;
padding: 16px 28px 16px 28px;
font-size: 24px;
font-weight: 600;
line-height: 141.69%;
}

.heading{
    background-color:rgb(32, 32, 39);
    width: auto;
    height: 1470px;
    color: white;
  
    padding-top: 94px;
}

.heading__link{
    text-decoration: none;
    display: inline-block;
}

.product-box{
    margin-top: 64px;
    background-color: white;
    border-radius: 30px;
    min-width: 378px;
    

}

.product{
    background-image: url(img/Обложка\ карточки.png);
    
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 30px;
    min-height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    gap: 16px;
    margin: 10px 0px;
    padding: 32px 32px 36px 32px;

}